.form-container {
  justify-content: space-around;
  width: 100%;
}

.fields {
  gap: 0.2rem;
}
input {
  padding: 12px;
  width: 100%;
  background: white;
  border-radius: 8px;
}
button {
  color: white;
}
